#output {
    height: 15vh;
}


#numberContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

#numberContainer > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    font-size: 48px;
    line-height: 8vmin;
}

#operatorContainer {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

#operatorContainer > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    font-size: 48px;
   line-height: 8vmin;
}

#mainContainer {
    background-color: red;
    height: 100%;
    margin: 10px 5vw;
    padding: 2vmin;
    text-align: center;
}

#buttonContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

#mainContainer > h1 {
    font-size: 64px;
    font-family: SansSerif;
    color: white;
}

#output {
    background-color: black;
    color: white;
    margin: 20px 0;

}

#output > h1 {
    font-size: 64px;
}